.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cf4545;
    padding: 20px;
  }
  
  .navbar-logo img {
    width: 50px;
    height: 50px;
  }
  
  .navbar-buttons {
    display: flex;
  }
  
  .navbar-buttons button {
    margin-left: 10px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: block;
    }
  
    .navbar-logo {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
  
    .navbar-buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }